*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Zen Dots', cursive;
}

.containerMain{
/* background: url('../img/bg.jpg')no-repeat center center/cover; */
background-image: url('../img/bg.jpg');
background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    content: "";
    top: 0;
    left: 0;

}

.left{
    color: white;
    /* background-color: red; */
    position: absolute;
    left: 25px;
    top: 20px;
}

.left img{
    display: block;
    margin: auto;
    width: 3em;
    height: 3em;
}
.mid{
    /* background-color: green; */
    display: flex;
    height: 3em;
    width: 59%;
    display: block;
    margin: 20px auto;

}
.right{
    /* background-color: hotpink; */
    position: absolute;
    right: 5px;
    top: 20px;
}
.right .btm{
    color: white;
    background-color: black;
    margin-right: 1em;
    margin-top: 0.5em;
    padding: 4px 14px;
    font-size: 1em;
    border: 2px solid rgb(202, 197, 197);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Zen Dots', cursive;
}
.btm:hover{
    background-color: rgb(129, 129, 129);
}

.nav{
    margin-left: 14em;
    /* border: 2px solid purple; */
    height: 2.5em;
    /* display: flex; */
}

.mid .nav li{
    display: inline-block;
    list-style-type: none;
    box-sizing: border-box;
    margin-top: 0.5em;
    width: 9em;
    height: 2.5em;
    /* border: 2px solid red; */
    box-sizing: border-box;
    
    
}

.mid .nav li:nth-child(3){
   width: 13.5em;
}
.mid .nav li:nth-child(1){
   width: 4.9em;
}
.mid .nav li:nth-child(2){
   width: 8em;
}

.mid .nav li a{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    /* border: 2px solid white; */ 
}

.mid .nav li a:hover, .mid .nav li a:active{
    
    /* color: linear-gradient(to bottom, #0033cc 0%, #ccccff 100%); */
    background: linear-gradient( #a0a09d 0%, #000000 100%);

  /* background: -webkit-linear-gradient(#ffff00, #ff3300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* text-decoration: underline; */
}

.container{
    width: 33vw;
    position: absolute;
    height: auto;
    margin: 11em 7em;
    padding: 2em 2em;
    border: 2px solid white;
}

.container h1{
    color: white;
}

.container .formgroup input{
    width: 12em;
    padding: 0.5em;
    margin: 1em auto;
    border-radius: 6em;
    font-size: 1em;
    display: block;
    font-family: 'Zen Dots', cursive;
    text-align: center;
}

.container .btm{
    display: block;
    width: 6vw;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 3em;
    color: white;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    font-family: 'Zen Dots', cursive;
}
.container .btm:hover{
    background-color: gray;
}



header .left ,.mid .nav, .right{
    position: fixed;
}


